/* الأساسيات */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #000000;
  transition: background-color 0.3s, color 0.3s;
}

header {
  background: #f4f4f4;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

main {
  padding: 1rem;
  text-align: center;
}

.portfolio-items {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.portfolio-item {
  flex: 1 1 calc(30% - 20px);
  border: 1px solid #ddd;
  padding: 10px;
  box-sizing: border-box;
}

/* الوضع الليلي */
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

/* تواصل  */
#contact {
  text-align: center;
  margin: 2rem 0;
}

#contact-form {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#contact-form input,
#contact-form textarea,
#contact-form button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

#contact-form button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

#contact-form button:hover {
  background-color: #0056b3;
}


/*نافذه  */
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.lightbox img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
}


@media (max-width: 768px) {
  .portfolio-item {
    flex: 1 1 calc(45% - 20px);
  }
}

@media (max-width: 480px) {
  .portfolio-item {
    flex: 1 1 100%;
  }
}

